#about-me-container {
	display: flex;
    padding: 2em;
    flex-direction: row;
    align-items: flex-start;

	@media screen and (max-width: 640px) {
		flex-direction: column;
    }
    
    mat-divider {
        margin-bottom: 1em;
    }

	.left-section {
        position: relative;
        width: 90%;

		display: flex;
		flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        margin-left: 5%;

		@media screen and (min-width: 640px) {
            margin-left: 0;
            position: fixed;
            width: 25%;
		}

		.image-container {
			margin: 0em 2em 2em 2em;

			img {
                max-width: 75vw;
                max-height: 70vh;

				overflow: hidden;
				border-radius: 300px;
				width: auto;

				transition: border-radius 0.5s;

				@media screen and (min-width: 640px) {
                    max-height: 45vh;
                    max-width: 20vw;
				}
			}

			img:hover {
				border-radius: 5px;
			}
		}

		.basic-info {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;
		}
	}

	.right-section {
        display: flex;
        flex-direction: column;
        margin: 0px 2em;
        max-width: 100%;
        
        @media screen and (min-width: 640px) {
            max-width: 50%;
            margin: 0 2em;
            margin-left: calc(30% + 2.5em);
		}

		p {
            text-align: justify;
            margin-bottom: 1.2em;
        }
        
        a {
            text-decoration: none;
            color: white;
            margin-right: 0.25em;
        }

        a:hover {
            text-decoration: underline;
        }

		.hobbies-container {
            
            .hobby {
                display: flex;

                .subtitle {
                    font-weight: normal;
                }

                mat-icon {
                    margin-right: 0.5em;
                    flex: 0 0 auto;
                }
            }

            .hobby:hover p .subtitle {
                color: white;
            }

		}
	}
}
