<div class="main-container">
	<div class="icons-container">
		<a href="mailto:{{'jd.piaskowski'}}{{'@gmail.com'}}" class="contact-icon">
            <mat-icon svgIcon="email"></mat-icon>
            <span class='link-text'>E-mail</span>
		</a>
		<a
			href="https://www.linkedin.com/in/jedrzej-piaskowski"
			target="_blank"
			class="contact-icon"
		>
            <mat-icon svgIcon="linked-in"></mat-icon>
            <span class='link-text'>LinkedIn</span>
		</a>
		<a class="contact-icon" target="_blank" href='https://github.com/jedrzejpiaskowski'>
            <mat-icon svgIcon="github"></mat-icon>
            <span class='link-text'>GitHub</span>
        </a>
	</div>
</div>
