.skills-container {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .skill-card {
        // background-color: darkgreen;
        min-width: 15vw;
        max-width: 25vw;
        margin: 1em;
        flex-grow: 1;
        // flex: 1;

        @media screen and (max-width: 960px) {
            min-width: 25vw;
            max-width: 70vw;
            margin: 10px;
        }
    }


    .mat-card-header {
        display: flex;
        align-items: center;

        .mat-card-header-text {
            margin: 0;
        }
    }
}
