<div class="main-container">
	<div class="full-space-container">
        <div class='logo-container'>
            <img class="logo-image" src="./assets/jp_logo.png" />
            <div class='header-section'>
                <h1 class='name'>J. PIASKOWSKI</h1>
                <h3 class='title'>{{ 'Home.Title' | translate }}</h3>
                <div class="nav-links">
                    <a routerLink="/about-me">{{ 'Tabs.AboutMe' | translate}}</a>
                    <a routerLink="/skills">{{ 'Tabs.Skills' | translate}}</a>
                    <a routerLink="/experience">{{ 'Tabs.Experience' | translate}}</a>
                    <a routerLink="/contact">{{ 'Tabs.Contact' | translate}}</a>
                </div>
        </div>
        </div>
	</div>
</div>